target/
!.mvn/wrapper/maven-wrapper.jar
log/
logs/
*.log
*.class

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### Spring Boot ###
application-local.properties
application-dev.properties
